/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 98%;
  margin: 0;
  padding: 0;
}
#navbar {
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.856);
  display: flex;
  justify-content: space-around;
}

#bottom-space {
  height: 10%;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  height: 100%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  overflow: auto;
}

.title {
  font-size: 48px;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.body {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px black;
  font-size: 18px;
  padding: 15px;
}

.imgsupport {
  align-items: center;
}

.moreinfo {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}

.card {
  margin: auto;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
